<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-8"
>
  <p-floatlabel>
    <input
      type="text"
      pInputText
      formControlName="name"
      id="name"
      class="w-full"
    />
    <label for="name">Name</label>
    @if (contactForm.get("name")?.hasError("required")) {
      <p-message severity="error" variant="simple" size="small"
        >Name is required!</p-message
      >
    }
  </p-floatlabel>

  <p-floatlabel>
    <input
      type="text"
      pInputText
      formControlName="email"
      id="email"
      class="w-full"
    />
    <label for="email">E-Mail</label>
    @if (contactForm.get("email")?.hasError("email")) {
      <p-message severity="error" variant="simple" size="small"
        >Email must be valid!</p-message
      >
    }
    @if (contactForm.get("email")?.hasError("required")) {
      <p-message severity="error" variant="simple" size="small"
        >E-Mail is required!</p-message
      >
    }
  </p-floatlabel>

  <p-floatlabel>
    <textarea
      id="message_label"
      rows="5"
      cols="30"
      pTextarea
      formControlName="message"
      style="resize: none"
      class="w-full"
    ></textarea>
    <label for="message_label">Message</label>

    @if (contactForm.get("message")?.hasError("required")) {
      <p-message severity="error" variant="simple" size="small"
        >Message is required!</p-message
      >
    }
  </p-floatlabel>

  <p-button label="Send" type="submit" [disabled]="!contactForm.valid" />

  {{ contactForm.status }}
</form>
