Die MT Robot AG ist ein unabhängiges Unternehmen in der Region Basel (Zwingen).
Sämtliche Produkte und Lösungen werden in der Schweiz entwickelt, produziert und
international vertrieben. Unsere Mitarbeitenden sind hoch qualifizierte,
international erfahrene Spezialisten, welche neue Wege beschreiten und
innovative Produkte entwickeln. Wir streben eine langfristige,
partnerschaftliche Zusammenarbeit mit Kunden sowie Lieferanten an und pflegen
den Austausch mit Hochschulen im In- und Ausland (Technologietransfer). In
unserem Fokus stehen wirtschaftlich interessante Lösungen, welche logistische
Prozesse optimieren und die Aufgaben der Arbeitskräfte erleichtern und ergänzen.
Wir arbeiten kunden- und lösungsorientiert und stehen für Fragen oder ergänzende
Informationen gerne zur Verfügung.
