<div class="grid lg:grid-cols-2 grid-nogutter surface-section text-800">
  <div class="col-1 p-6 text-center md:text-left flex items-center">
    <section class="md:ml-32">
      <div class="block text-6xl font-bold mb-2">
        Intuitive autonomous robot software
      </div>
      <p class="mb-8 text-700 line-height-3">
        Easy to use and flexible robotics software stack to be used with your
        own robot.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>

      <button
        pButton
        pRipple
        label="Request a Demo"
        type="button"
        class="p-button-outlined"
      ></button>
    </section>
  </div>

  <!-- <div class="col-12 md:col-5 overflow-hidden"> -->
  <!--   @if (isLightMode()) { -->
  <!--     <img -->
  <!--       src="/mockup/mockup_light.png" -->
  <!--       class="contain md:ml-auto block md:h-full" -->
  <!--     /> -->
  <!--   } @else { -->
  <!--     <img -->
  <!--       src="/mockup/mockup_dark.png" -->
  <!--       class="contain md:ml-auto block md:h-full" -->
  <!--     /> -->
  <!--   } -->
  <!-- </div> -->

  <div>
    <img
      src="/hero.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
