<!-- <div class="text-4xl font-semibold">Intuitive Web Application</div> -->
<!-- <p>Responsive and modern user interface optimized for various devices</p> -->

<h2 class="text-5xl font-bold text-gray-900 mb-6">Control Center</h2>

<div class="flex flex-row justify-center">
  @if (isLightMode()) {
    <img src="/mockup/mockup_light.png" class="contain" />
  } @else {
    <img src="/mockup/mockup_dark.png" class="contain" />
  }
</div>

<div class="text-center mb-12 -mt-12 lg:-mt-36">
  <p class="text-xl text-gray-600 max-w-3xl mx-auto">
    Erleben Sie unser intuitives Control Center für einfachstes
    Robotermanagement
  </p>
</div>
