<app-navigation />
<div>
  <img
    src="/clinic_mover/perspective.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
  <img
    src="/clinic_mover/perspective_bed.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
</div>
<div>
  <img
    src="/clinic_mover/safety_perspective.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
  <img
    src="/clinic_mover/safety_perspective_bed.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
</div>
<div>
  <img
    src="/clinic_mover/top.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
  <img
    src="/clinic_mover/top_bed.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
</div>
<div>
  <img
    src="/clinic_mover/safety_top.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
  <img
    src="/clinic_mover/safety_top_bed.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
</div>
<div>
  <img
    src="/clinic_mover/joystick.png"
    alt="Image"
    class="md:ml-auto block md:h-full w-auto overflow-hidden object-cover"
  />
</div>
<app-footer />
